<div class="container light-gray-bgc">
    <form role="form">
        <div class="form-group">
            <label for="email">Titulo</label>
            <input ng-model="tarea.titulo" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="comment">Descripcion</label>
            <textarea ng-model="tarea.descripcion" class="form-control" rows="5" id="comment"></textarea>
        </div>
       
        <div class="checkbox">
            <md-checkbox aria-label="Finished?" ng-model="tarea.importante" ng-true-value="true" ng-false-value="false">
                Importante
            </md-checkbox>
        </div>
        
        <md-button class="md-raised md-primary" ng-click="agregar()">Agregar</md-button>

    </form>
</div>
<div class="container light-gray-bgc" >
    <h2>Tareas anotadas</h2>
    <div class="scroll-div">

        <div ng-repeat="tarea in tareasAgenda">
            <a href="#/description/{{$index}}">
                <show-task task="tarea"></show-task>
            </a>


        </div>
        <!--<ul class="list-group" >
                
                <li class="list-group-item" ng-repeat="tareas in tareasAgenda">
                    {{tareas.titulo}}
                    <span ng-click="removeItem(tareas._id)" id="span-right">&times</span>
                </li>

            </ul>-->

    </div>
</div>